[submodule "themes/simplest"]
	path = themes/simplest
	url = https://github.com/dnxbf321/hexo-theme-simplest
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/tufu9441/maupassant-hexo.git
